#RELBRANCH	GLUONBRANCH	TEMPLATE_NAME	SITE_CODE	DOMAIN_NR	SITE_SMALL	SITE_BIG 	FF_PREFIX 	META_PREFIX	MESH_SID 	DOMAIN_NAME			SUPERNODE_DEFAULT	V4_PREFIX	V6_PREFIX		WIFICH_24 	WIFICH_5	MAP_LAT		MAP_LON		MAP_ZOOM	DOMAIN_HASH 								META_NAME					META_WEBSITE		MAP_WEBSITE			FWWEBSITE_HOST 			FWWEBSITE_TLD   OPKG_FQDN		SUPERNODE_TLD	DOMAIN_REGION_DE 				DOMAIN_REGION_EN				SETUP_SKIP 	KEY_FILE_SIGN	KEY_FILE_SSH 	DOMAIN_LONGNAME	
stable		v2023.2.x 	21_dias-key 	21_dias		21		dias 		dias 		ff		nef 		dias-mesh	Neanderfunka_Diaspora		5 			10.51.64 	fd66:666e:6566:6415 	9 		44 		51.45		9.77 	        5 		bd94e6cb6cc4d7e9aeed10c2389cdc3ad4937844121348f48c42c83adb262d94	Freifunk_im_Neanderland				www.neanderfunk.de	karte.neanderfunk.de		firmware			ffnef.de	firmware.ffnef.de	ffnef.de	in_Absprache_mit_den_Aktiven_des_Neanderfunks	in_coordination_with_members_of_Neanderfunk	true 		ffnef.signkeys	ffnef.sshkeys	Freifunk_im_Neanderland_Diaspora_-_Domain_21_(Neanderfunk)
stable		v2023.2.x 	21_dias 	21_dias		21		dias 		dias 		ff		nef 		dias-mesh	Neanderfunka_Diaspora		5 			10.51.64 	fd66:666e:6566:6415 	9 		44 		51.45		9.77 	        5 		bd94e6cb6cc4d7e9aeed10c2389cdc3ad4937844121348f48c42c83adb262d94	Freifunk_im_Neanderland				www.neanderfunk.de	karte.neanderfunk.de		firmware			ffnef.de	firmware.ffnef.de	ffnef.de	in_Absprache_mit_den_Aktiven_des_Neanderfunks	in_coordination_with_members_of_Neanderfunk	false 		ffnef.signkeys	ffnef.nokeys	Freifunk_im_Neanderland_Diaspora_-_Domain_21_(Neanderfunk)
